<!DOCTYPE html>
<html lang="en">
<head>
    <title> STUDENT REGISTRATION FORM</title>
</head>

<body style="background-color:LightSeaGreen">
<!--<body style="background-image:url('school22.jpg.jpg')">-->
<!--<form method="post" action="abcd.html">-->
<h1 style="color:Gold;text-align:center;font-family:Impact;">REGISTRATION FORM</h1>

<table align="center" cellpadding = "10">


<tr>
<td style="color:white;">USER NAME</td>
<td style="font family:Verdana;"><input type="text" name="User_Name">
</td>
</tr>

<tr>
<td style="color:white;">EMAIL ID</td>
<td style="font family:Verdana;"><input type="text" name="Email_Id">
</td>
</tr>

<tr>
<td style="color:white;">MOBILE NUMBER</td>
<td style="font family:Verdana;">
<input type="text" name="Mobile_Number">
</td>
</tr>

<tr>
<td style="font family:Verdana;color:white;">GENDER</td>
<td>
Male <input type="radio" name="Gender" value="Male" />
Female <input type="radio" name="Gender" value="Female" />
</td>
</tr>

<tr>
    <td style="color:white;text-align:right;font family:Verdana;">
            <div class="input_field checkbox_option">
<input type="checkbox" id="cb1">
                <label for="cb1">I agree with terms and conditions</label>
            </div>
    </td>

<tr>
<td style="color:white;">PASSWORD</td>
<td style="font family:Verdana;">
<input type="password" name="PASSWORD">
</td>
</tr>

<tr>
<td style="color:white;">CONFIRM PASSWORD</td>
<td style="font family:Verdana;">
<input type="password" name="CONFIRM_PASSWORD">
</td>
</tr>

<tr>
<td colspan="2" align="center">
<input type="submit" value="Submit">
<input type="reset" value="Reset">
</td>
</tr>


</table>
<!--</form>-->
</body>
</html>



