<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:Gold">
<h1 style="text-align:center;font-family:verdana;">REGISTRATION FORM</h1>

<form action="register" method="POST">
    {% csrf_token %}
    <input type="text" name="user_name" placeholder="ENTER YOUR USERNAME"><br>
       <input type="text" name="first_name" placeholder="ENTER YOUR FIRSTNAME"><br>
          <input type="text" name="last-name" placeholder="ENTER YOUR LASTNAME"><br>
            <input type="email" name="email" placeholder="ENTER YOUR EMAIL"><br>
        <input type="password" name="password" placeholder="ENTER YOUR PASSWORD"><br>
    <input type="password" name="confirm_password" placeholder="ENTER YOUR CONFIRM PASSWORD"><br>
    <input type="submit">

</form>
{% for msg in messages %}
<h2 style="color:red;">{{msg}}</h2>
{% endfor %}
</body>
</html>